
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255, 255, 255, 0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

/**********NAVBAR************/

nav {
  z-index: 2;
}

.logo {
  width: 3.25rem;
}

/**********MENU LINKS************/

/* styling of links */
nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

/* styling of links */
nav ul li {
  text-transform: uppercase;
}

/* styling of links */
.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 4rem !important;
}

/* this is for mouseover highlights */
.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
}

/**********HEADER************/
.header-wrapper {
  position: relative;
  background: url(IMG_0098.JPG) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  z-index: 1;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
}
.main-info h1 {
  color: var(--primary-orange);
  text-transform: uppercase;
}

/**********TYPED TEXT************/
.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
}

/**********HEADER MAIN OFFER BUTTON************/
.btn-main-offer {
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin: 2rem;
}

/**********PARTICLES JS************/
.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}